.class0{
    margin-top: 54px;
    margin-left: 52px;
}
p{
    font-family: "BPG Square", sans-serif;
    color: #4E6FAE;
    display: inline;
   font-size: 26px;
   font-weight: 700;
   line-height: 31px;
   margin-top: 66px;
   margin-left: 60px;
}
.class1{
  
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    margin-top: 66px;
    margin-left: 80px;
    display: inline;
}
.class2{
    
    font-size: 26px ;
    font-weight: 700;
    line-height: 31px;
        margin-top: 81px;
}
.class3{
   display: inline;
    height: 735px;
    width: 1660px;
    margin-top: 130px;
}




h2{ 
    margin-top: -608px;
    margin-left: 162px;
    width: 464px;
    height: 34px;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #4E6FAE;
   
}
h1{
    margin-top: 27px;
    margin-left: 162px;
    width: 307px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
.class4{margin-top: 23px;
    margin-left: 162px;
      width: 307px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
.class5{
    margin-top: 11px;
    margin-left: 162px;
    width: 434px;
    height: 34px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
.class6{
    width: 944px;
    height: 549px;
    margin-top: -170px;
    margin-left: 676px;
}
.class14{
    margin-top: 132px;
    margin-left: 192px ;
}
span{

 color: #7E8898;

}