.class0{
    margin-top: 54px;
    margin-left: 52px;
  



}
p{
    color: #4E6FAE;
    display: inline;
   font-size: 26px;
   font-weight: 700;
   line-height: 31px;
   margin-top: 66px;
   margin-left: 60px;
}
.class1{
    
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    margin-top: 66px;
    margin-left: 80px;
    display: inline;
}
.class2{
   
    font-size: 26px ;
    font-weight: 700;
    line-height: 31px;
    margin-top: 81px;
}
h1{
    color: white;
    display: block;
    background: #5012D5;
    width: 50px;
    height: 50px;
    font-size: 26px;    
    line-height: 26px;
    font-weight: 400s;
    box-sizing: border-box;
    padding-left: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;  
    margin-top: 52px;
    margin-left: 52px;
}
h2{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #8D81FF;
    margin-top: 26px;
    margin-left: 52px;
}
h3{
    color: #4E6FAE;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 8px;
    margin-left: 52px;
}
.class3{
    margin-top: 13px;
    margin-left: 52px;
}
h4{
   
   font-weight: 400;
    font-size: 16px;
    line-height: 19px;
   color: #4E6FAE;
   margin-top: -280px;
   margin-left: 565px;

}
h5{
    margin-top: 165px;
    margin-left: 52px;
    background: #5012D5;

}
.class5{
    margin-left: 52px;
    margin-top: 167px;
    color: white;
    display: block;
    background: #5012D5;
    width: 50px;
    height: 50px;
    font-size: 26px;    
    line-height: 26px;
    font-weight: 400s;
    box-sizing: border-box;
    padding-left: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;  
}
.class6{  
    margin-top: 230px;
    display: block;
    color: white;
    background: #5012D5;
    width: 50px;
    height: 50px;
    font-size: 26px;    
    line-height: 26px;
    font-weight: 400s;
    box-sizing: border-box;
    padding-left: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;  
    margin-left: 52px;
}

.class7{
    margin-top: 14px;
    margin-left: 52px;
} 
h6{
    color:  #4E6FAE;
    width: 1021px;
    height: 148px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 32px;
    margin-left: 52px;
    
}
