.class0{
    margin-top: 54px;
    margin-left: 52px;
}
p{
    font-family: "BPG Square", sans-serif;
    width: 115px;
    height: 34px;
    color: #4E6FAE;
    display: inline;
   font-size: 26px;
   font-weight: 700;
   line-height: 31px;
   margin-top: 60px;
   margin-left: 60px;
}
.class1{

  
    
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
   
    margin-left: 80px;
    display: inline;
}
.class2{
    width: 115px;
    height: 34px;
    
    font-size: 26px ;
    font-weight: 700;
    line-height: 31px;
   
}
.class3{
   
    margin-top: 184px;
    margin-left: 194px;
} 
h1{
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px; 
    color:  #4E6FAE;
    margin-top: 120px;
    margin-left: 194px;
}
h2{
    display: inline-block;
    color:  #4E6FAE;
    width: 700px;
    height: 34px;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    margin-left: 34px;
    margin-top: 0px;  
}
.class6{
    display: inline;
    width: 500px;
    height: 192px;
    margin-top: 26px;
    margin-left: 194px;
}


.class9{
    display: inline;
    width: 500px;
    height: 192px;
    margin-left: 746px;
    margin-top: -47px;
}
.class10{
 
    margin-top: -180px;
    margin-left: 775px;
     width: 307px;
    height: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px
    
}
.class11{ display: block;
    width: 89px;
    height: 89px;
    margin-top: 29px;
    margin-left: 3px;
}
h4{  display: block;
    color:  #7E8898;
    width: 335px;
    height: 95px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 894px;
    margin-top: 15px;
}
h3{
    width: 307px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: -170px;
    margin-left: 217px;
}
.class12{
    
   display: inline-block;
    width: 77px;
    height: 77px;
    margin-top: -100px;
    margin-left: 230px ;
}
.class13{ 
    
    width: 335px;
    height: 95px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
   margin-top: -107px;
    margin-left: 344px ;
}
.class14{
    margin-top: 132px;
    margin-left: 192px ;
}
